.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 120px 0px 120px;
}
a {
  text-decoration: none;
}
.app-logo {
  width: 200px;
  height: 51.25px;
}
.link {
  display: flex;
  padding: 0px 10px;
  color: black;
}
.space {
  padding-left: 20px;
  color: red;
}
.home {
  color: green;
}
.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 20px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
}

.line.open.line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.line.open.line-2 {
  opacity: 0;
}

.line.open.line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}
