.container {
  padding: 50px 0px 10px 0px;
}
.sec1 {
  margin: 0px 100px 0px 100px;
  padding: 0px 12px 0px 12px;
}
.title {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: space-between;
  font-size: 65px;
  font-weight: normal;
  text-align: left;
  text-transform: capitalize;
  color: #1e2226;
}
.text-container {
  display: flex;
  justify-content: flex-end;
}
.text {
  width: 50%;
}
h1 {
  margin: 0;
}
